<h1>Products#show</h1>
<%- model_class = Product -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @product.title %></dd>

  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @product.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:price) %>:</strong></dt>
  <dd><%= @product.price %></dd>
  <%= image_tag @product.image, style: 'width: 300px; height: 300px' if @product.image? %>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
            categories_path, :class => 'btn btn-default'  %>

