<div class="container">

  <div align="center">
    <h1 class=" btn btn-warning active"><%= @product.title %></h1>
    <h2 align="right"><%= button_to 'Buy', line_items_path(product_id: @product), class: 'btn btn-danger active' %></h2>
    <%= image_tag @product.image_url(:big) %>
  </div>
  <div class="product-description">
    <%= @product.description %>
  </div>
  <div class="product-price">
    Price: <%= number_to_currency(@product.price, precision: 2, separator: ',') %>
  </div>

  <%= link_to 'Back', url_for(:back), class: 'btn btn-default' %>
</div>